body {
  font-family: 'Poppins', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: rgb(255, 255, 255);
  background: linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(219, 237, 234, 1) 100%);
  margin: 0;
}

#loading {
  font-size: 24px;
  color: #1b7570;
}

#container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 16px;
  width: 80%;
  max-width: 800px;
}

#container h1 {
  display: block;
  width: 100%;
  text-align: center;
}

.box {
  background-color: #1b7570;
  width: 100px;
  height: 100px;
  cursor: pointer;
  border-radius: 8px;
  transition: background-color 0.3s;
}

.box:hover {
  background-color: #015460;
  transform: scale(115%);
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  max-width: 500px;
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}
